<?php

namespace Drupal\{{ module }}\AdvancedUpdate;

use Drupal\advanced_update\AdvancedUpdateInterface;
use Drupal\advanced_update\UpdateNotImplementedException;

/**
 * Class {{ update_class }}.
 *
 * {{ description }}
 *
 * @package Drupal\{{ module }}\AdvancedUpdate
 */
class {{ update_class }} implements AdvancedUpdateInterface {

  /**
   * This method is called by AdvancedUpdateManager.
   */
  public function up() {
    throw new UpdateNotImplementedException();
  }

  /**
   * This method is called by AdvancedUpdateManager.
   */
  public function down() {
    throw new UpdateNotImplementedException();
  }

}
