{#
/**
 * @file advanced_update_entity.html.twig
 * Default theme implementation to present Advanced update entity data.
 *
 * This template is used when viewing Advanced update entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_advanced_update_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('advanced_update_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
